<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Group List</title>
</head>
<body >
<div style="width:800px;margin-left:auto;margin-right:auto;">
    <form action="#" th:object="${group}" th:action="@{/groups/add}" method="post">
        <label>Group Name:</label>
        <input type="text" name="name" th:field="*{name}"/><br />
        <input type="submit" value="Add"/>
    </form><br/>
    <table border="1px">
        <th>ID</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr th:each="group : ${groups}">
            <td th:text="${group.id}">ID</td>
            <td th:text="${group.name}">Name</td>
            <td><a th:href="${'/groups/edit/' + group.id}">Edit</a></td>
            <td><a th:href="${'/groups/delete/' + group.id}">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>